Source: dbus-cpp
Priority: optional
Maintainer: Shengjing Zhu <i@zhsj.me>
Build-Depends: cmake,
 dbus,
 debhelper (>= 10),
 doxygen,
 googletest,
 libboost-filesystem-dev,
 libboost-system-dev,
 libboost-program-options-dev,
 libdbus-1-dev,
 libprocess-cpp-dev,
 libproperties-cpp-dev,
 libxml2-dev,
 lsb-release,
Standards-Version: 4.0.0
Section: libs
Homepage: http://launchpad.net/dbus-cpp
Vcs-Git: https://github.com/zhsj/dbus-cpp.git
Vcs-Browser: https://github.com/zhsj/dbus-cpp

Package: libdbus-cpp5
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: header-only dbus-binding leveraging C++-11
 A header-only dbus-binding leveraging C++-11, relying on compile-time
 polymorphism to integrate with arbitrary type systems. Runtime portions to bind
 to different event loops.

Package: dbus-cpp-bin
Section: libdevel
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
 libdbus-cpp5 (= ${binary:Version})
Description: header-only dbus-binding leveraging C++-11
 Protocol compiler and generator to automatically generate protocol headers from
 introspection XML.

Package: libdbus-cpp-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends},
 dbus,
 libdbus-cpp5 (= ${binary:Version})
Replaces: dbus-cpp-dev
Conflicts: dbus-cpp-dev
Provides: dbus-cpp-dev
Description: header-only dbus-binding leveraging C++-11
 A header-only dbus-binding leveraging C++-11, relying on compile-time
 polymorphism to integrate with arbitrary type systems.

Package: dbus-cpp-dev-examples
Section: x11
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: header-only dbus-binding leveraging C++-11, example binaries
 A header-only dbus-binding leveraging C++-11, relying on compile-time
 polymorphism to integrate with arbitrary type systems.
 .
 This package provides examples.
